llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
unstructured[pdf,docx,pptx]
sentence-transformers
llama-index-llms-groq
uvicorn[standard]
python-multipart
python-dotenv
qdrant-client
transformers
bitsandbytes
llama-index
python-docx
python-pptx
sqlalchemy
docx2txt
fastapi
torch
groq